@font-face {
    font-family: "Lobster";
    src: url("../Font/lobster/lobster-regular.ttf") format("ttf");
}

body {
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #444;
    font-weight: normal;
    line-height: 1.4;


}

.color-blue {
    color: blue;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}
/*
mobile 320px, tablet 767px, desktop 1024px
*/
main img{
    width: 100%;
    margin: 0 auto, 0 auto;
    display: block;
    /*max-width: 767px;*/
}

.app-header{
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
}

.inner{
    max-width: 1080px;
    margin: 0 auto;
}
.app-logo {
    display: inline-block;

}
.app-logo img {
    width: 160px;

}
.app-navigation{
    float: right;
}

/* links have 4 states
a:link, a:visited, a:active, a:hover
*/
.app-navigation a:link{
text-decoration: none;
color: #444;
padding: 0.5em;
}

.app-navigation a:visited{
    color: #444;
    }

 .app-navigation a:active{
    color: green;
    }

 .app-navigation a:hover{
     color: #cfcccc;
     }

     .app-navigation-drawer{
        /*hide nav on load*/
        display: block;
        background-color: #fff;
        padding: 0.5em;
        list-style: none;
        border-bottom: 2px solid green;
        border-top: 2px solid red;
        border-left: 2px solid royalblue;
        border-right: 2px solid yellow;
        /*animate default state on page load*/
        transition: all 0.3s linear;
        transform: translateY(-150%);
        
      }
      
          .sr-only {
              display: none;
          }
          #hamburger-menu {
              /*hides the checkbox*/
              display: none;
          }
          #hamburger-menu:checked ~ .app-navigation-drawer {
              /*Show nav on :checked */
              display: block;
              /* animate into page show state*/
              transform: translateY(0%)
          }
          #hamburger-label {
              cursor: pointer;
          }
          
    

h1 {
 
    font-size: 2.5rem;
    margin-bottom: 0;
    font-family: "Lobster";
    
    
}

p {
    font-family: 'Open Sans', sans-serif;
}


form{
    background-color: transparent;

}

form fieldset {
    border: 5px dashed hotpink;
    padding: 0 0 1em 1em;
    background-color: lavender;
}
form fieldset legend{
    font-style: italic;
    font-size: 1em;
}
form label{
    display: block;
}

form h5 {
    margin-bottom: 0%;
}
.input-text {
    border: 1px solid #444;
    padding: 0.2em;
    color:#555;
    border-radius: 6px;

}

.input-text-area {
    border-radius: 6px;
}
 
input[type="submit"]{
    background-color:rgb(181, 226, 90);
    width: 100%;
    border: none;
    padding: 0.4em;
    cursor: pointer;
}

input[type="submit"]:hover{
background-color: hotpink;
}

.footer {
    background-color: aqua;
    padding: 1em;
}

.footer .column{
    display: block;
    width: 100%;
    
}
/*
 input[type="email"]{
     background-color: red;
 }
input[type="tel"]{
    background-color: red;
}

input[type="text"]{
    background-color: red;
}
*/
/* i am Tablet and Desktop*/
@media screen and (min-width: 767px) {
    .app-navigation-drawer{
        transform: translateY(0);
        background: transparent;
        border-bottom: none;
        border-top: none;
        border-right: none;
        border-left: none;
        padding: 0;
        margin: 0;
      }
    .fa-bars {
        display: none;
      }
    .app-navigation-drawer li {
        display: inline-block;
      }
   .app-article {
        display: inline-block;
        width: 60%;
    }
   .app-sidebar {
       display: inline-block;
       width: 35%;
       vertical-align: top;
   }
   .footer .column{
    display: inline-block;
    width: 20%;
    border: 1px solid red;
}
}






